*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
}
.btn{
    display: inline-block;
}

.border{
    border: 2px solid black;
}

.padding{
    padding: 10px 20px;
}

.black{
    color:black;
    font-weight: bold;
}

.dashed{
    border: dashed;
}

.radius{
    border-radius: 20px;
}

.radius-5px{
    border-radius: 5px;
}

.radius-0px-10px{
    border-radius: 0px 10px 0 10px;
}

.bg-green{
    background-color: #61FF7B;
}

.bg-blue {
    background-color: #1398A0;
}

.white{
    color: white;
}

a{
    text-decoration: none;
}


.btne{
    font-family: "Inter", sans-serif;
    display: inline-block;
    padding: 16px 32px;
    text-decoration: none;
}

.bolde{
    font-weight: 700;
}

.blacke{
    color: black;
}

.whites {
    color: white;
}

.fond-vert {
  background-color: #61FF7B;  
}

.fond-bleu {
    background-color: #1398A0;
}

.gellule {
    border-radius: 400px;
}

.radius-8 {
    border-radius: 8px;
}

.radius-0-32 {
    border-radius: 0px 32px;
}

.border-solid-black{
    border: solid black 1px;
}

.border-dashed-black {
    border: dashed 2px black;
}


.card{
    width: 30%;
    padding: 8px;
    background-color: blue;
    border-radius: 16px;
    font-family: "Inter", sans-serif;
    box-shadow: 2px 2px 15px rgb(201,201,201);
}

.width-30 {
    width: 30%;
}

.img-width {
    width: 100%;
}

.padding-8 {
    padding: 8px;
}

.mt-16{
    margin-top: 16px;
}

.img-height {
    width: 50%;
    height: 50%;
}

.margin-top-50 {
    margin-top: 50px;
}

.radius-8{
    border-radius: 8px;
}

.bg-grey {
    background-color: grey;
}

.margin-left-50 {
    margin-left: 50px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

h3,p {
    color: black;
}